.container {
    max-width: 1000px;
    max-height: 620px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #333;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
}

.visor {
    display: grid;
    width: 450px;
    height: 350px;
    border-radius: 10px;
}

.visor-ativo {
    background: #FFDB58;
}

.visor-inativo {
    background: #666;
}

.microondas-panel {
    display: grid;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 620px;
    margin: 0 auto;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    color: white;
}

.display {
    width: 100%;
    background: black;
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 15px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.tecla, .teclaIniciar,
.teclaParaCanc, .teclaPotencia {
    font-size: 1.5em;
    width: 100%; /* Adapta à largura da grid */
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #444;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
    .tecla:hover {
        background: #666;
    }

.teclaIniciar {
    background: #32CD32;
    border: 3px solid black;
}

    .teclaIniciar:hover {
        background: #90EE90;
    }

.teclaParaCanc {
    background: #800000;
    border: 3px solid black;
}

    .teclaParaCanc:hover {
        background: #A52A2A;
    }

.teclaPotencia {
    background: #4682B4;
    border: 3px solid black;
}

    .teclaPotencia:hover {
        background: #B0C4DE;
    }

/* Responsividade */
@media (max-width: 480px) {
    .microondas-panel {
        width: 90%;
    }

    .teclado {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .tecla, .teclaIniciar,
    .teclaParaCanc, .teclaPotencia {
        height: 60px;
        font-size: 1.2em;
    }
}